rect {
  pointer-events: all;
  fill-opacity: 0;
  stroke-opacity: 0;
  z-index: 1;
}

.tooltip {
  position: absolute;
  padding: 5px;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  display: none;
  opacity: 0.75;
  min-width: 120px;
}
